{% extends "layout.html" %}

{% block title %}
Search: {{ querystring }}
{% endblock %}

{% block content %}
<form action="{% url 'index' %}">
  <div class="row mt-3 mb-3 g-3" id="search-facets">
    <div class="col-12 input-group mb-3">
      <input class="form-control" type="text" name="query" value="{% if querystring %}{{ querystring }}{% endif %}" placeholder="Search">
      <button class="btn btn-primary" type="submit">{{ _("Search") }}</button>
    </div>
  </div>
  <div class="row" id="search-results">
    <div class="col-4">
      {% if facets %}
      {% for facet in facets %}
      <fieldset>
        <legend>{{ facet.name }}</legend>
        {% for check in facet.values %}
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   name="filter_{{ facet.name }}"
                   value="{{ check.term }}"
                   {% if check.active %}checked{% endif %}>
            {{ check.term }} ({{ check.count }})
          </label>
        </div>
        {% endfor %}
      </fieldset>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-8">
      {% if matches  %}
      {% for res in matches %}
      <div>
        <span>
          <a href="{{ res.identifier }}"><strong>
            {% if res.creator %}
            {{ res.creator }}  —
            {% endif %}
            {{ res.title }}</strong></a>
          <small>[{{ res.language }}]</small>
        </span>
        <p>
          {{ res.description }}
        </p>
      </div>
      {% endfor %}
      {% else %}
      <p>{{ _("Nothing found") }}</p>
      {% endif %}
      {% if paginations %}
      <nav>
        <ul class="pagination">
          {% for pagination in paginations %}
          <li class="page-item {% if pagination.current %}active{% endif %}">
            <a class="{{ pagination.class }}" href="{{ pagination.url }}">{{ pagination.label }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</form>
<h3 class="mt-5">Debug</h3>
<pre>
{% debug %}
</pre>
{% endblock %}
